body {
    text-align: center;
}
ul{
    list-style: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: 100px;
    margin-right: 100px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8;
    margin: 8;
}
main{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px;
    margin: 50px;
    max-width: 1200px;
}
main section {
    flex: 1;
    min-width: 280px;
    border: 2px solid black;
    padding: 20px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (max-width: 600px){
    nav{
    flex-direction: column;
    gap: 10px;

}
nav ul {
    flex-direction: column;
    text-align: center;

}
main{
    padding: 15px;
    margin: 10px;
    gap: 10px;

}
main section {
    flex: 1 1 100%;
    min-width: 0;
    padding: 15px;
}

}
@media (max-width: 600px) {
    h1 {
        font-size: 100px;
        color: red;
       
    }

}